body{
	background-color: black;
}

.container{
	margin: 10px 100px 10px 90px;
	background: url("img/nf.jpg");
	background-position: top;
	height: 1800px;
	font-weight: bolder;
	background-attachment: fixed;
}

.col-md-12{
	padding: 10px;
	background-color: black;
	opacity: 70%;
}

.col-md-12 h1{
	padding: 10px;
	text-align: center;
	border-bottom: 5px solid gold;
	border-radius: 70%;
}

.col-md-12 p{
	padding: 10px;
}

.col-md-6{
	width: 90%;
	padding: 10px;
	background: url("img/back.jpg");
	background-attachment: fixed;
	color: gold;
	text-align: center;
	border-right: 3px solid gold;
}

.extra{
	width: 100%;
	background-color: black;
	opacity: 70%;
	color: gold;
	text-align: center;
}

form{
	font-weight: bolder;
	height: 500px;
	color: white;
	text-align: center;
	background-position: center;
}

button{
	background-color: black;
	color: white;
	border: 2px solid gold;
	border-radius: 8px;
}

input{
	width: 90%;
	margin-top: 50px;
	padding: 10px;
}

.input p{
	height: 50px;
	margin: 100px 10px 50px 10px;
	padding: 10px;
	background-color: red;
	color: white;
	font-weight: bolder;
	text-align: center;
}

.input button{
	padding: 5px;
	margin-top: 50px;
}

.footer{
	margin: 10px;
	padding: 10px;
	background-color: grey;
	color: white;
	margin: 2px;
}

.footer .col-md-4{
	border-right: 2px solid black;
}

.col-md-4 h3{
	color: gold;
	text-align: center;
}

.footer p{
	text-align: center;
}

.footer ul li{
	margin: 20px;
	text-decoration: none;
	list-style-type: none;
	float: left;
}