body{
	background-color: black;
}

.container{
	margin: 10px 100px 10px 90px;
	background: url("img/nf.jpg");
	background-position: top;
	height: 2000px;
	background-attachment: fixed;
}

.col-md-12{
	padding: 10px;
	background-color: black;
	opacity: 70%;
}

.col-md-12 h1{
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid gold;
	border-radius: 70%;
}

.col-md-12 p{
	padding: 10px;
}

.col-md-6{
	padding: 10px;
	background-color: black;
	opacity: 70%;
	color: gold;
	text-align: center;
	border-right: 3px solid red;
}

.extra{
	width: 100%;
	background-color: black;
	opacity: 70%;
	color: gold;
	text-align: center;
}

